[user]
    name = Yohei Okabayashi
    email = yohei.kuro48@gmail.com
[http]
    sslVerify = false
[color]
    ui = auto
[core]
    quotepath = false
    pager = delta
    editor = nvim
[init]
    defaultBranch = main
[interactive]
    diffFilter = "delta --color-only"
[include]
    path = "/Users/haru256/repo/github.com/catppuccin/delta/catppuccin.gitconfig"
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    feature = "catppuccin-latte"
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
    ignore = !"f() { local s=$1; shift; \
            while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
            curl \"https://www.toptal.com/developers/gitignore/api/$s\"; }; f"

    bcleanup = !~/.local/bin/git-merged-branch-cleanup

    aicommit = "!~/.local/bin/git-aicommit"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[ghq]
    root = ~/repo
[push]
    autoSetupRemote = true

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
